/* Add a black background color to the top navigation */
nav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    font-family: Georgia, serif;
}

h2 {
    font-family: monospace, sans-serif;
}

body {
    background-color: #b5b5b5;
    text-align: center;
}

p {
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
}

ul {
    text-align: justify;
    padding-left: 200px;
    padding-right: 100px;
}

li {
    text-align: justify;
}

#last {
    padding-bottom: 50px;
}